---
import { accountHasNickname } from "@bandori-stats/bestdori/helpers";
import { db } from "@bandori-stats/database";
import { accountSnapshots } from "@bandori-stats/database/schema";

import dayjs from "~/lib/date";
import { paginate } from "~/lib/paginate";
import PopoverDropdown from "./_popover-dropdown.astro";
import StatCell from "./_stat-cell.astro";

export const partial = true;

const page = await paginate({
	items: {
		get: async (limit, offset) => ({
			allSnapshotsCount: await db.$count(accountSnapshots),
			data: await db.query.accountSnapshots.findMany({
				limit,
				offset,
				columns: { accountId: true, id: true, snapshotDate: true, stats: true },
				orderBy: { snapshotDate: "desc", id: "desc" },
				with: {
					account: {
						columns: { username: true, nickname: true },
					},
				},
			}),
		}),
		hasNextPage: (limit, offset, it) => offset + limit < it.allSnapshotsCount,
	},
	context: Astro,
	size: 12,
	extraProps: {
		"hx-target": "closest .grid",
		"hx-swap": "beforeend",
	},
});

const currentSnapshots = page.items[0].data;
const previousSnapshots = (
	await db.query.accounts.findMany({
		columns: {},
		where: { id: { in: currentSnapshots.map(({ accountId }) => accountId) } },
		with: {
			snapshots: {
				columns: { accountId: true, stats: true, snapshotDate: true },
				orderBy: { snapshotDate: "desc" },
				where: { id: { lt: currentSnapshots.at(-1)!.id } },
				limit: 1,
			},
		},
	})
).flatMap(({ snapshots }) => snapshots);

const getPreviousSnapshot = ({
	accountId,
	id,
}: (typeof currentSnapshots)[number]) =>
	currentSnapshots.find((it) => it.accountId === accountId && it.id < id) ??
	previousSnapshots.find((it) => it.accountId === accountId);

const snapshots = currentSnapshots.map((snapshot) => ({
	...snapshot,
	previous: getPreviousSnapshot(snapshot),
}));

const STAT_NAMES = [
	"bandRating",
	"rank",
	"highScoreRating",
	"titles",
	"allPerfectCount",
	"fullComboCount",
	"clearCount",
] as const;
---

{
	snapshots.map(
		({ id, accountId, account, snapshotDate, stats, previous }, idx) => (
			<li
				{...(page.isLastElement(idx) && page.props)}
				class="card relative w-full bg-base-100 shadow-sm card-border dark:bg-base-300"
			>
				<div
					class="card-body gap-2 p-4"
					hx-vals={JSON.stringify({ account: accountId })}
				>
					<div class="flex h-12 w-full justify-between">
						{accountHasNickname(account) ? (
							<div>
								<h2 class="card-title">{account.nickname}</h2>
								<p class="text-xs text-base-content/80">@{account.username}</p>
							</div>
						) : (
							<h2 class="card-title self-center text-xl">
								@{account.username}
							</h2>
						)}

						<p class="text-end text-base-content/67">
							<span
								{...(previous && {
									class: "tooltip underline decoration-dotted",
									"data-tip": `last update: ${previous.snapshotDate} (${dayjs(previous.snapshotDate).from(snapshotDate, true)} before)`,
								})}
							>
								{snapshotDate}
							</span>
						</p>
					</div>

					<div class="grid grid-cols-3 gap-2">
						{STAT_NAMES.map((name) => (
							<StatCell
								{name}
								value={stats[name]}
								previousValue={previous?.stats[name]}
							/>
						))}
					</div>

					<div
						class="card-actions justify-end"
						hx-disabled-elt=".card-actions button"
						style={`anchor-name: --anchor-${id}-actions`}
					>
						<button
							class="btn btn-soft btn-primary btn-sm"
							data-umami-event="view-calendar"
							data-umami-event-date={snapshotDate}
							data-umami-event-id={accountId}
							data-umami-event-username={account.username}
							popovertarget={`calendar-${id}`}
						>
							<iconify-icon
								class="size-4"
								icon="lucide:calendar"
								width="none"
							/>
							Calendar
						</button>

						{stats.titles && (
							<button
								class="btn btn-soft btn-accent btn-sm"
								data-umami-event="view-titles"
								data-umami-event-date={snapshotDate}
								data-umami-event-id={accountId}
								data-umami-event-username={account.username}
								popovertarget={`titles-${id}`}
							>
								<iconify-icon class="size-4" icon="lucide:crown" width="none" />
								Titles
							</button>
						)}
					</div>

					<PopoverDropdown class="overflow-visible" {id} name="calendar">
						<div
							hx-get={`/history/items/${id}/calendar`}
							hx-trigger="intersect once"
							class="h-60 w-75 skeleton"
							hx-swap="outerHTML"
							hx-target="this"
						/>
					</PopoverDropdown>

					{stats.titles && (
						<PopoverDropdown class="max-h-56 w-84" {id} name="titles">
							<div
								class="titles flex flex-wrap justify-center gap-x-1 gap-y-1.5 *:w-24 sm:*:w-32"
								hx-indicator="closest .titles"
							>
								<div
									hx-get={`/history/items/${id}/titles`}
									hx-trigger="intersect once"
									class="aspect-23/5 skeleton"
									hx-swap="outerHTML"
									hx-target="this"
								/>

								{Array.from(
									{ length: Math.min(stats.titles.length - 1, 5) },
									() => (
										<div class="htmx-indicator aspect-23/5 skeleton" />
									),
								)}
							</div>
						</PopoverDropdown>
					)}
				</div>
			</li>
		),
	)
}
