---
import dayjs from "@bandori-stats/bestdori/date";
import { db } from "@bandori-stats/database";

import z from "zod";

import Icon from "~/components/icon.astro";
import { paginate } from "~/lib/paginate";
import { QuerySchema, RatioSchema } from "~/lib/schema";
import PopoverDropdown from "./_popover-dropdown.astro";
import { SnapshotCard } from "./_snapshot-card";

export const partial = true;

const { query, date, ratio } = Astro.locals.parseQuery(
	z.object({
		query: QuerySchema,
		date: z.iso.date().optional(),
		ratio: RatioSchema,
	}),
);

if (!Astro.url.searchParams.has("page")) {
	const search = new URLSearchParams(
		[...Astro.url.searchParams.entries()].filter(
			([name, value]) => name !== "page" && value,
		),
	);

	search.sort();
	Astro.response.headers.set(
		"hx-replace-url",
		search.size > 0 ? `/history?${search}` : "/history",
	);
}

const page = await paginate({
	items: {
		get: (limit, offset) =>
			db.query.accountSnapshots.findMany({
				limit,
				offset,
				where: {
					snapshotDate: date ?? {},
					...(query && {
						account: {
							OR: [
								{ username: { like: `%${query}%` } },
								{ nickname: { like: `%${query}%` } },
							],
						},
					}),
				},
				columns: {
					accountId: true,
					id: true,
					snapshotDate: true,
					stats: true,
				},
				orderBy: { id: "desc" },
				with: {
					account: {
						columns: {
							id: true,
							username: true,
							nickname: true,
							profileArt: true,
						},
					},
				},
			}),
	},
	context: Astro,
	size: 12,
	extraProps: {
		"hx-target": "closest .grid",
		"hx-swap": "beforeend",
		"hx-include": "#history-filter input",
	},
});

const currentSnapshots = page.items;
const previousSnapshots = (
	await db.query.accounts.findMany({
		columns: {},
		where: { id: { in: currentSnapshots.map(({ accountId }) => accountId) } },
		with: {
			snapshots: {
				columns: { accountId: true, stats: true, snapshotDate: true },
				orderBy: { snapshotDate: "desc" },
				where: { id: { lt: currentSnapshots.at(-1)!.id } },
				limit: 1,
			},
		},
	})
).flatMap(({ snapshots }) => snapshots);

const getPreviousSnapshot = ({
	accountId,
	id,
}: (typeof currentSnapshots)[number]) =>
	currentSnapshots.find((it) => it.accountId === accountId && it.id < id) ??
	previousSnapshots.find((it) => it.accountId === accountId);

const snapshots = currentSnapshots.map((snapshot) => ({
	...snapshot,
	previous: getPreviousSnapshot(snapshot),
}));

if (snapshots.length > 0 && Astro.cache.enabled) {
	Astro.cache.set({
		etag: `"${__GIT_HASH__}-${snapshots.map(({ id }) => id).join(".")}"`,
		maxAge: 60 * 60,
	});
}
---

{
	snapshots.map(
		({ id, accountId, account, snapshotDate, stats, previous }, idx) => (
			<li class="contents" id={`snapshot-${id}`}>
				<SnapshotCard
					{account}
					{previous}
					{ratio}
					{snapshotDate}
					{stats}
					{...(page.isLastElement(idx) && page.props)}
				>
					<div
						class="card-actions justify-end"
						hx-disable:inherited={`#snapshot-${id} .card-actions button`}
						style={`anchor-name: --anchor-${id}-actions`}
					>
						<button
							class="btn btn-soft btn-primary btn-sm"
							data-umami-event="view-calendar"
							data-umami-event-date={snapshotDate}
							data-umami-event-id={accountId}
							data-umami-event-username={account.username}
							popovertarget={`calendar-${id}`}
						>
							<Icon name="lucide:calendar" />
							Calendar
						</button>

						{stats.titles && (
							<button
								class="btn btn-soft btn-accent btn-sm"
								data-umami-event="view-titles"
								data-umami-event-date={snapshotDate}
								data-umami-event-id={accountId}
								data-umami-event-username={account.username}
								popovertarget={`titles-${id}`}
							>
								<Icon name="lucide:crown" />
								Titles
							</button>
						)}

						<PopoverDropdown class="overflow-visible" {id} name="calendar">
							<div
								class="relative flex min-h-70 min-w-75 justify-center"
								hx-indicator:inherited={`#calendar-${id}-loader`}
							>
								<div
									hx-get={`/history/items/${id}/calendar`}
									hx-swap="outerHTML"
									hx-target="this"
									hx-trigger="intersect once"
									hx-vals={
										date
											? JSON.stringify({
													date: dayjs(date)
														.startOf("month")
														.format("YYYY-MM-DD"),
												})
											: undefined
									}
								/>

								<div
									class="htmx-indicator absolute inset-0 bg-base-100/67"
									id={`calendar-${id}-loader`}
								>
									<Icon
										class="center absolute size-32"
										name="svg-spinners:bars-scale"
									/>
								</div>
							</div>
						</PopoverDropdown>

						{stats.titles && (
							<PopoverDropdown class="max-h-56 w-84" {id} name="titles">
								<div
									class="titles flex flex-wrap justify-center gap-x-1 gap-y-1.5 *:w-24 sm:*:w-32"
									hx-indicator:inherited="closest .titles"
								>
									<div
										hx-get={`/history/items/${id}/titles`}
										hx-swap="outerHTML"
										hx-target="this"
										hx-trigger="intersect once"
										class="aspect-23/5 skeleton"
									/>

									{Array.from(
										{ length: Math.min(stats.titles.length - 1, 5) },
										() => (
											<div class="htmx-indicator aspect-23/5 skeleton" />
										),
									)}
								</div>
							</PopoverDropdown>
						)}
					</div>
				</SnapshotCard>
			</li>
		),
	)
}
