---
import { db } from "@bandori-stats/database";

import { leaderboards, titles } from "virtual:bandori-leaderboard";
import z from "zod";

import Icon from "~/components/icon.astro";
import TitlesLoader from "~/components/titles-loader.astro";
import LeaderboardTopList from "~/pages/leaderboard/_leaderboard-top-list.astro";

export const partial = true;

const { category } = Astro.locals.parseQuery(
	z.object({ category: z.enum(Object.keys(titles)) }),
);

const players = await (async () => {
	const leaderboard = leaderboards[category];
	const accounts = await db().query.accounts.findMany({
		where: { id: { in: leaderboard.map(({ id }) => id) } },
		columns: { id: true, username: true, nickname: true, profileArt: true },
	});

	return leaderboard.map((player) => ({
		...player,
		...accounts.find(({ id }) => id === player.id)!,
		value: player.titles.length,
	}));
})();

if (Astro.cache.enabled) {
	Astro.cache.set({ etag: `"${__GIT_HASH__}"`, maxAge: 60 * 60 * 24 * 365 });
}
---

<LeaderboardTopList anchor={category} {players}>
	<fragment slot="value">
		{
			(player: (typeof players)[number]) => (
				<>
					<div class="flex items-center gap-2 lg:flex-row-reverse">
						<button
							class="btn btn-square btn-soft btn-primary btn-xs"
							popovertarget={`titles-${player.id}-${category}`}
						>
							<Icon name="lucide:eye" />
						</button>
						<div
							class="dropdown dropdown-bottom group-nth-last-[-n+3]:dropdown-top lg:dropdown-end"
							id={`titles-${player.id}-${category}`}
							popover
							style={`position-anchor: --anchor-${player.id}-${category}`}
						>
							<TitlesLoader
								hx-vals:inherited={JSON.stringify({ category })}
								size={player.titles.length}
								url={`/leaderboard/titles/for/${player.id}`}
							/>
						</div>

						<div>
							{player.value} title{player.value > 1 && "s"}
						</div>
					</div>
				</>
			)
		}
	</fragment>
</LeaderboardTopList>
