---
import { STAT_NAMES } from "@bandori-stats/bestdori/constants";
import { getValue } from "@bandori-stats/bestdori/helpers";
import { db } from "@bandori-stats/database";

import { titleCase } from "text-case";
import z from "zod";

import { defineLineChart } from "~/lib/chart";
import { idSchema } from "~/lib/schema";
import DisplayName from "./_display-name.astro";

export const partial = true;

const id = idSchema.parse(Astro.locals.query.id);
const statName = z
	.enum(STAT_NAMES)
	.optional()
	.parse(Astro.locals.query.stat_name);
const account = await db.query.accounts.findFirst({
	columns: { username: true, nickname: true },
	with: {
		snapshots: {
			columns: { stats: true, snapshotDate: true },
			orderBy: { snapshotDate: "asc" },
		},
	},
	where: { id },
});

const isNotFound = !account || account.snapshots.length === 0;
if (isNotFound) Astro.response.status = 404;

const availableStats = STAT_NAMES.filter((name) => {
	if (isNotFound) return false;

	for (const { stats } of account.snapshots) {
		if (stats[name]) return true;
	}

	return false;
});

const chart =
	!isNotFound &&
	statName !== undefined &&
	defineLineChart([
		{
			label: `@${account.username}`,
			data: account.snapshots.map(({ stats, snapshotDate }, idx, snapshots) => {
				const current = stats[statName];
				const previous =
					idx > 0 ? snapshots[idx - 1].stats[statName] : undefined;

				return {
					x: snapshotDate,
					y:
						current !== null &&
						(current !== previous || idx === snapshots.length - 1)
							? getValue(current)
							: NaN,
				};
			}),
		},
	]);
---

<dialog class="modal modal-bottom sm:modal-middle">
	<div class="modal-box">
		<form method="dialog">
			<button class="btn btn-sm btn-circle btn-ghost absolute top-2 right-2">
				✕
			</button>
		</form>

		{
			isNotFound ? (
				<h3 class="text-center text-lg font-bold">Stats not found</h3>
			) : (
				<>
					<h2 class="text-center">
						<span class="text-lg font-bold">Growth chart</span> <br />
						<DisplayName
							username={account.username}
							nickname={account.nickname}
						/>
					</h2>

					<div
						id="chart"
						class="relative mx-auto mt-4 aspect-2/1 w-96 max-w-full"
					>
						{chart ? (
							<canvas {...chart} class="bg-base-100 absolute inset-0" />
						) : (
							<iconify-icon
								icon="lucide:square-dashed-kanban"
								width="none"
								class="center absolute size-24 rotate-180"
							/>
						)}
					</div>

					<div class="mt-2 flex justify-center">
						<div class="join w-64">
							<select
								class="select join-item"
								name="stat_name"
								hx-get="/fragments/stats-history/chart"
								hx-indicator="#chart-loader"
								hx-target="#chart"
								hx-select="#chart"
								hx-vals={JSON.stringify({ id })}
							>
								<option disabled selected={!statName}>
									Pick a stat
								</option>
								{availableStats.map((name) => (
									<option value={name} selected={statName === name}>
										{titleCase(name)}
									</option>
								))}
							</select>

							<button id="chart-loader" class="btn join-item btn-square">
								<iconify-icon
									icon="lucide:activity"
									width="none"
									class="htmx-indicator-replace size-4"
								/>
								<iconify-icon
									icon="svg-spinners:90-ring-with-bg"
									width="none"
									class="htmx-indicator size-4"
								/>
							</button>
						</div>
					</div>
				</>
			)
		}
	</div>

	<form method="dialog" class="contents">
		<button class="modal-backdrop">Close</button>
	</form>
</dialog>
