---
import dayjs from "@bandori-stats/bestdori/date";
import {
	and,
	count,
	db,
	eq,
	gte,
	like,
	lte,
	or,
} from "@bandori-stats/database";
import { accounts, accountSnapshots } from "@bandori-stats/database/schema";

import type { FormatDateString } from "vanilla-calendar-pro";
import z from "zod";

import type { CalendarData } from "~/lib/calendar";
import { IsoDateWithDefault, QuerySchema } from "~/lib/schema";

export const partial = true;

const {
	query,
	selected,
	date: queryDate,
} = Astro.locals.parseQuery(
	z.object({
		query: QuerySchema,
		date: IsoDateWithDefault,
		selected: z.iso.date().optional(),
	}),
);

const date = dayjs(queryDate);
const [oldest, latest, snapshots] = await db().batch([
	db().query.accountSnapshots.findFirst({
		columns: { snapshotDate: true },
		orderBy: { snapshotDate: "asc" },
	}),
	db().query.accountSnapshots.findFirst({
		columns: { snapshotDate: true },
		orderBy: { snapshotDate: "desc" },
	}),
	db()
		.select({
			date: accountSnapshots.snapshotDate,
			count: count(accountSnapshots.id),
		})
		.from(accountSnapshots)
		.innerJoin(accounts, eq(accountSnapshots.accountId, accounts.id))
		.where(
			and(
				gte(
					accountSnapshots.snapshotDate,
					date.startOf("month").format("YYYY-MM-DD"),
				),
				lte(
					accountSnapshots.snapshotDate,
					date.endOf("month").format("YYYY-MM-DD"),
				),
				...(query
					? [
							or(
								like(accounts.username, `%${query}%`),
								like(accounts.nickname, `%${query}%`),
							),
						]
					: []),
			),
		)
		.groupBy(accountSnapshots.snapshotDate),
]);

const data = {
	selected:
		selected ??
		(Astro.url.searchParams.has("date") && date.date() !== 1
			? date.format("YYYY-MM-DD")
			: undefined),
	date: date.format("YYYY-MM-DD"),
	oldest: oldest?.snapshotDate,
	latest: latest?.snapshotDate,

	url: "/history/calendar",
	params: {},
	items: Object.fromEntries(
		snapshots.map(({ date, count }) => [date as FormatDateString, count]),
	),
} satisfies CalendarData;

export type Data = typeof data;

if (Astro.cache.enabled) {
	Astro.cache.set({ etag: `"${__GIT_HASH__}"`, maxAge: 60 * 60 });
}
---

<div class="history-calendar vc skeleton" data-calendar={JSON.stringify(data)}>
</div>

<script>
	import { dismissCalendarPopover, initCalendar } from "~/lib/calendar";
	import type { Data } from "./calendar.astro";

	initCalendar<Data>({
		selector: ".vc.history-calendar",

		onClickDate: ({ calendar, date }) => {
			const inputElement = calendar
				.closest(".dropdown")
				?.querySelector("input");
			if (!(inputElement instanceof HTMLInputElement)) return;
			inputElement.value = date ?? "";

			window.htmx
				.ajax("get", "/history/snapshots", {
					source: calendar,
					target: "#history-grid",
					values: date ? { date } : {},
				})
				.then(() => dismissCalendarPopover(calendar, "Choose Date", date));
		},

		renderDateCell: ({ it: count, button }) => {
			button.innerHTML += `<span class="badge px-1 badge-xs badge-accent">${count}</span>`;
		},
	});
</script>
