---
import { STAT_NAMES } from "@bandori-stats/bestdori/constants";
import { db } from "@bandori-stats/database";

import UsernameColumn from "~/lib/components/username-column.astro";
import dayjs from "~/lib/date";
import { paginate } from "~/lib/paginate";
import StatsColumn from "./_stats-column.astro";

export const partial = true;

const rows = await db.query.accountSnapshots.findMany({
	columns: { accountId: true, id: true, snapshotDate: true, stats: true },
	limit: 200,
	orderBy: { snapshotDate: "desc", id: "desc" },
	with: {
		account: {
			columns: { username: true, nickname: true },
		},
	},
});

const page = paginate({
	items: rows,
	context: Astro,
	size: 20,
	extraProps: {
		"hx-target": "closest tbody",
		"hx-swap": "beforeend",
	},
});

const previousSnapshots = (
	await db.query.accounts.findMany({
		columns: {},
		where: { id: { in: page.items.map(({ accountId }) => accountId) } },
		with: {
			snapshots: {
				columns: { accountId: true, stats: true, snapshotDate: true },
				where: { id: { lt: page.items.at(-1)!.id } },
				limit: 1,
			},
		},
	})
).flatMap(({ snapshots }) => snapshots);

const getPreviousSnapshot = ({ accountId, id }: (typeof page.items)[number]) =>
	page.items.find((it) => it.accountId === accountId && it.id < id) ??
	previousSnapshots.find((it) => it.accountId === accountId);
---

{
	page.items
		.map((item) => ({ ...item, previousSnapshot: getPreviousSnapshot(item) }))
		.map(
			(
				{
					id,
					accountId,
					snapshotDate,
					stats,
					previousSnapshot,
					account: { username, nickname },
				},
				idx,
			) => (
				<tr
					{...(page.isLastElement(idx) && page.props)}
					class="group text-center"
				>
					<UsernameColumn {id} {username} {nickname} viewTransition={false} />

					<td>
						<button
							hx-get={`/fragments/stats-history/${accountId}`}
							hx-indicator="this"
							hx-disabled-elt="button.stats-history"
							hx-vals={JSON.stringify({ date: snapshotDate })}
							class="stats-history btn btn-primary btn-sm btn-circle"
						>
							<iconify-icon
								icon="lucide:history"
								width="none"
								class="htmx-indicator-replace size-4"
							/>
							<iconify-icon
								icon="svg-spinners:90-ring-with-bg"
								width="none"
								class="htmx-indicator size-4"
							/>
						</button>
					</td>

					<td>
						{previousSnapshot?.snapshotDate ? (
							<div class="flex flex-col">
								<span>{snapshotDate}</span>
								<span class="scale-90">
									from {dayjs(previousSnapshot.snapshotDate).from(snapshotDate)}
								</span>
							</div>
						) : (
							snapshotDate
						)}
					</td>

					{STAT_NAMES.map((key) => (
						<StatsColumn
							value={stats[key]}
							previousValue={previousSnapshot?.stats?.[key]}
						/>
					))}

					<StatsColumn
						value={stats.titles}
						previousValue={previousSnapshot?.stats?.titles}
					/>
				</tr>
			),
		)
}
