---
import dayjs from "@bandori-stats/bestdori/date";
import { db } from "@bandori-stats/database";

import type { FormatDateString } from "vanilla-calendar-pro";
import z from "zod";

import type { CalendarData } from "~/lib/calendar";
import { IdSchema, IsoDateWithDefault } from "~/lib/schema";
import { computeStatDeltas } from "~/lib/stats";

export const partial = true;

const id = IdSchema.parse(Astro.params.id);
const { date: queryDate } = Astro.locals.parseQuery(
	z.object({ date: IsoDateWithDefault }),
);

const date = dayjs(queryDate);
const snapshot = await db().query.accountSnapshots.findFirst({
	columns: { accountId: true, snapshotDate: true },
	where: { id },
});

const isNotFound = !snapshot;
if (isNotFound) Astro.response.status = 404;

const monthStart = date.startOf("month").format("YYYY-MM-DD");
const monthEnd = date.endOf("month").format("YYYY-MM-DD");
const [oldest, latest, snapshots, firstPreviousSnapshot] = isNotFound
	? []
	: await db().batch([
			db().query.accountSnapshots.findFirst({
				columns: { snapshotDate: true },
				orderBy: { snapshotDate: "asc" },
				where: { accountId: snapshot.accountId },
			}),
			db().query.accountSnapshots.findFirst({
				columns: { snapshotDate: true },
				orderBy: { snapshotDate: "desc" },
				where: {
					accountId: snapshot.accountId,
					snapshotDate: { lte: snapshot.snapshotDate },
				},
			}),
			db().query.accountSnapshots.findMany({
				columns: { snapshotDate: true, stats: true },
				where: {
					id: { lte: id },
					accountId: snapshot.accountId,
					snapshotDate: { gte: monthStart, lte: monthEnd },
				},
			}),
			db().query.accountSnapshots.findFirst({
				columns: { stats: true },
				where: {
					accountId: snapshot.accountId,
					snapshotDate: { lt: monthStart },
				},
				orderBy: { snapshotDate: "desc" },
			}),
		]);

const data = {
	date: date?.format("YYYY-MM-DD"),
	oldest: oldest?.snapshotDate,
	latest: latest?.snapshotDate,

	url: `/history/snapshots/${id}/calendar`,
	params: {},
	items: snapshots
		? Object.fromEntries(
				snapshots.map(({ snapshotDate, stats }, idx) => [
					snapshotDate as FormatDateString,
					computeStatDeltas(
						stats,
						idx > 0 ? snapshots[idx - 1].stats : firstPreviousSnapshot?.stats,
					),
				]),
			)
		: {},
} satisfies CalendarData;

export type Data = typeof data;

if (!isNotFound && Astro.cache.enabled) {
	Astro.cache.set({ etag: `"${__GIT_HASH__}"`, maxAge: 60 * 60 * 24 * 365 });
}
---

<div class="snapshot-calendar vc skeleton" data-calendar={JSON.stringify(data)}>
</div>

<script>
	import { simplifyStatName } from "@bandori-stats/bestdori/helpers";

	import { initCalendar } from "~/lib/calendar";
	import {
		STAT_BADGES,
		STAT_STATUSES,
	} from "~/pages/history/snapshots/_stat-colors";
	import type { Data } from "./calendar.astro";

	initCalendar<Data>({
		selector: ".vc.snapshot-calendar",

		renderDateCell: ({ it: deltas, button }) => {
			button.innerHTML += [
				'<div class="inline-flex gap-0.5">',
				...new Set(
					deltas.map(
						([name]) =>
							`<div aria-label="success" class="status status-sm ${STAT_STATUSES[name]}"></div>`,
					),
				),
				"</div>",
			].join("");
		},

		popups: ({ it: deltas }) =>
			[
				'<div class="flex w-max max-w-32 min-w-full flex-wrap justify-center gap-x-1 gap-y-0.5 py-2 font-medium">',
				...deltas.map(
					([name, delta]) =>
						`<span class="badge badge-soft badge-xs ${STAT_BADGES[name]}">${simplifyStatName(name)} ${delta}</span>`,
				),
				"</div>",
			].join(""),
	});
</script>
