---
import { db } from "@bandori-stats/database";
import { STAT_COLUMNS } from "@bandori-stats/database/constants";
import { accountLeaderboard } from "@bandori-stats/database/schema";

import { formatNumber, sum } from "~/lib/math";
import { PAGE, RANK_BY } from "./_params";

export const partial = true;

const pageSize = 50;
const page = PAGE.parse(Astro.params.page);
const offset = (page - 1) * pageSize;
const rankBy = RANK_BY.parse(Astro.url.searchParams.getAll("rank_by"));

const rows = await db
	.select()
	.from(accountLeaderboard)
	.then((entries) =>
		entries
			.map(({ acccountId, username, lastUpdated, ...rest }) => ({
				acccountId,
				username,
				lastUpdated,
				stats: Object.fromEntries(
					STAT_COLUMNS.map((column) => [column, rest[column]]),
				),
				scores: sum(
					STAT_COLUMNS.filter((column) => rankBy.includes(column)).map(
						(column) => rest[`score_${column}`],
					),
				),
			}))
			.sort((a, b) => b.scores - a.scores),
	);

const pageRows = rows
	.slice(offset, offset + pageSize)
	.map((it, idx) => ({ ...it, top: offset + idx + 1 }));

const nextPageUrl = new URL(Astro.url);
nextPageUrl.pathname = `/leaderboard/${page + 1}`;
const nextPageHtmxProps = {
	"hx-get": nextPageUrl.href,
	"hx-swap": "afterend",
	"hx-trigger": "intersect once",
};
---

{
	pageRows.map(({ acccountId, username, lastUpdated, stats, top }, idx) => (
		<tr {...(idx === pageSize - 1 ? nextPageHtmxProps : {})}>
			<th>#{top.toString().padStart(3, "0")}</th>

			<th class="bg-base-100/20 sticky left-0 pl-0">
				<p class="inline-flex">
					<span
						hx-get={`/leaderboard/stats/${acccountId}`}
						hx-target="body"
						hx-swap="beforeend"
						hx-indicator={`#stats-loader-${acccountId}`}
						class="bg-base-100 link max-w-36 overflow-clip pr-2 pl-4 text-ellipsis"
						style={`view-transition-name: username_${username};`}
					>
						{username}
					</span>

					<iconify-icon
						id={`stats-loader-${acccountId}`}
						icon="svg-spinners:3-dots-scale"
						width="16"
						class="htmx-indicator"
					/>
				</p>
			</th>

			<td>{lastUpdated}</td>

			{Object.values(stats).map((value) => (
				<td>
					{value ? (
						formatNumber(value)
					) : (
						<b class="text-base-content/40">Private</b>
					)}
				</td>
			))}
		</tr>
	))
}
