---
import { STAT_COLUMNS } from "@bandori-stats/database/constants";
import { redis } from "@bandori-stats/database/redis";
import { titleCase } from "text-case";

import BaseLayout from "~/layouts/base-layout.astro";
import dayjs from "~/lib/date";
import { parseSearchParams } from "./_params";

const { rank_by, sort_latest, favorite } = parseSearchParams(
	Astro.url.searchParams,
);

const { minDate, maxDate } = await (async () => {
	const [, [first]] = await redis.scan("0", {
		count: 1,
		match: `leaderboard:*:${STAT_COLUMNS[0]}`,
		type: "zset",
	});

	return {
		minDate: first.split(":")[1],
		maxDate: dayjs.utc().format("YYYY-MM-DD"),
	};
})();
---

<BaseLayout>
	<div
		id="scroll-container"
		hx-include="[name='rank_by'], [name='sort_latest'], [name='date'], [name='search_username'], [name='favorite']"
		class="absolute inset-0 overflow-x-auto"
	>
		<div class="sticky left-0 z-20 flex items-center gap-2 p-4 pb-2 sm:px-8">
			<h1 class="text-xl font-bold">Leaderboard</h1>
			<input
				type="date"
				min={minDate}
				max={maxDate}
				class="input input-xs input-ghost w-28"
				name="date"
				value={maxDate}
				hx-get="/leaderboard/rows"
				hx-target="tbody"
				hx-indicator="#app-loader, tbody"
				hx-swap="innerHTML transition:true"
			/>
		</div>

		<table class="table-sm table-zebra table">
			<thead
				hx-target="tbody"
				hx-indicator="#app-loader"
				hx-swap="innerHTML transition:true"
				hx-trigger="change delay:500ms"
				hx-sync="closest tr:replace"
				hx-on:htmx-before-request="this.closest('#scroll-container').scrollTo({ top: 0, behavior: 'smooth'})"
			>
				<tr class="group bg-base-100 sticky top-0 z-20">
					<th class="min-w-14"></th>

					<th class="min-w-40">
						<div
							id="search_username_popover"
							popover
							class="dropdown peer bg-base-100 rounded-box z-10 mt-1 px-2 py-1 shadow-sm"
							style="position-anchor: --anchor-search-username; view-transition-name: search-username-popover;"
							hx-on:htmx-before-request="this.hidePopover()"
						>
							<div class="join">
								<input
									type="search"
									class="input join-item input-sm w-36"
									name="search_username"
									placeholder="Search..."
									hx-get="/leaderboard/rows"
									hx-trigger="blur changed, click from:next"
								/>
								<button class="btn btn-sm join-item">Go</button>
							</div>
						</div>

						<button
							class="btn btn-sm peer-has-placeholder-shown:btn-ghost not-peer-has-placeholder-shown:btn-secondary"
							popovertarget="search_username_popover"
							style="anchor-name: --anchor-search-username"
						>
							Username

							<iconify-icon icon="lucide:search" width="none" class="size-4"
							></iconify-icon>
						</button>
					</th>

					<th class="min-w-22"></th>

					<th>
						<input
							id="sort_latest"
							type="checkbox"
							class="peer sr-only"
							name="sort_latest"
							value="true"
							checked={sort_latest}
							aria-label="Sort by last updated"
							hx-get="/leaderboard/rows"
						/>
						<label
							for="sort_latest"
							class="btn btn-sm not-peer-checked:btn-ghost peer-checked:btn-secondary"
						>
							Last Updated
							<iconify-icon
								icon="lucide:arrow-down-1-0"
								width="none"
								class="size-4"></iconify-icon>
						</label>
					</th>

					{
						STAT_COLUMNS.map((column) => (
							<th>
								<input
									type="checkbox"
									class="rank-by btn btn-sm checked:btn-accent not-group-has-[.rank-by:checked]:not-checked:btn-ghost group-has-[.rank-by:checked]:not-checked:btn-neutral group-has-[.rank-by:checked]:not-checked:line-through"
									name="rank_by"
									value={column}
									checked={!rank_by.default && rank_by.items.includes(column)}
									aria-label={titleCase(column.replace(/Count$/, ""))}
									hx-get="/leaderboard/rows"
								/>
							</th>
						))
					}
				</tr>
			</thead>

			<tbody hx-indicator=".infinite-placeholder">
				<tr
					hx-get="/leaderboard/rows"
					hx-trigger="revealed"
					hx-swap="outerHTML"
					hx-vals={JSON.stringify({ favorite })}
				>
				</tr>
			</tbody>

			<tfoot>
				{
					Array.from({ length: 12 }, () => (
						<tr class="infinite-placeholder htmx-indicator">
							{Array.from({ length: 4 + STAT_COLUMNS.length }, () => (
								<td>
									<div class="skeleton h-8" />
								</td>
							))}
						</tr>
					))
				}
			</tfoot>
		</table>
	</div>
</BaseLayout>
