---
import { startCase } from "@bandori-stats/bestdori/helpers";

import z from "zod";

import IconLoader from "~/components/icon-loader.astro";
import BaseLayout from "~/layouts/base-layout.astro";

const TABS = ["stats", "titles"] as const;
const params = Astro.locals.parseQuery(
	z.object({ for: z.enum(TABS).catch("stats") }),
);

const TAB_ICON = {
	stats: "lucide:bar-chart-3",
	titles: "lucide:podium",
};
---

<BaseLayout title="Leaderboard" containerClass="max-w-5xl">
	<div
		class="tabs-border my-4 tabs justify-center tabs-lg text-primary"
		id="leaderboard-tabs"
		role="tablist"
	>
		{
			TABS.map((it) => (
				<label class="tab [--tab-bg:var(--color-primary-content)] hover:text-primary has-checked:[--tab-border-color:var(--color-primary)] max-sm:flex-1 sm:px-16">
					<input
						hx-get={`/leaderboard/${it}`}
						hx-target="#leaderboard-grid"
						name="for"
						type="radio"
						hx-disable="#leaderboard-tabs input"
						hx-indicator="closest .tab"
						hx-replace-url={`/leaderboard?for=${it}`}
						checked={params.for === it}
					/>
					<IconLoader class="mr-2 size-5" name={TAB_ICON[it]} />
					{startCase(it)}
				</label>
			))
		}
	</div>

	<div
		hx-get={`/leaderboard/${params.for}`}
		hx-trigger="load"
		class="grid gap-8 lg:grid-cols-2"
		id="leaderboard-grid"
	>
		{
			Array.from({ length: 5 }).map(() => (
				<div class="card h-120">
					<div class="m-8 card-body skeleton p-0" />
				</div>
			))
		}
	</div>
</BaseLayout>
