---
import { db } from "@bandori-stats/database";
import { STAT_COLUMNS } from "@bandori-stats/database/constants";
import { accountLeaderboard } from "@bandori-stats/database/schema";
import dayjs from "dayjs";

import { formatNumber, sum } from "~/lib/math";
import { parseSearchParams } from "./_params";

export const partial = true;

const { page, rank_by, sort_latest } = parseSearchParams(
	Astro.url.searchParams,
);

const replaceUrl = new URL("/leaderboard", Astro.url);
replaceUrl.searchParams.set("sort_latest", String(sort_latest));
rank_by.forEach((it) => replaceUrl.searchParams.append("rank_by", it));
Astro.response.headers.set("hx-replace-url", replaceUrl.href);

const pageSize = 50;
const offset = (page - 1) * pageSize;

const rows = await db
	.select()
	.from(accountLeaderboard)
	.then((entries) =>
		entries
			.map(({ acccountId, username, lastUpdated, ...rest }) => ({
				acccountId,
				username,
				lastUpdated,
				stats: Object.fromEntries(
					STAT_COLUMNS.map((column) => [column, rest[column]]),
				),
				scores: sum(
					STAT_COLUMNS.filter((column) => rank_by.includes(column)).map(
						(column) => rest[`score_${column}`],
					),
				),
			}))
			.sort((a, b) => b.scores - a.scores)
			.map((it, idx) => ({ ...it, top: idx + 1 })),
	);

if (sort_latest)
	rows.sort((a, b) => dayjs(b.lastUpdated).diff(dayjs(a.lastUpdated)));

const pageRows = rows.slice(offset, offset + pageSize);

const nextPageUrl = new URL(Astro.url);
nextPageUrl.searchParams.set("page", (page + 1).toString());
const nextPageHtmxProps = {
	"hx-get": nextPageUrl.href,
	"hx-swap": "afterend",
	"hx-trigger": "intersect once",
};
---

{
	pageRows.map(({ acccountId, username, lastUpdated, stats, top }, idx) => (
		<tr {...(idx === pageSize - 1 ? nextPageHtmxProps : {})}>
			<th>#{top.toString().padStart(3, "0")}</th>

			<th class="bg-base-100/20 sticky left-0 z-10 pl-0">
				<p class="inline-flex">
					<span
						hx-get={`/leaderboard/stats/${acccountId}`}
						hx-target="body"
						hx-swap="beforeend"
						hx-indicator={`#stats-loader-${acccountId}`}
						class="bg-base-100 link max-w-36 overflow-clip pr-2 pl-4 text-ellipsis"
						style={idx < 30 && `view-transition-name: username-${username};`}
					>
						{username}
					</span>

					<iconify-icon
						id={`stats-loader-${acccountId}`}
						icon="svg-spinners:3-dots-scale"
						width="16"
						class="htmx-indicator"
					/>
				</p>
			</th>

			<td>{lastUpdated}</td>

			{Object.entries(stats).map(([key, value]) => (
				<td
					class:list={[
						(value === null && "font-medium opacity-40") ||
							(!rank_by.includes(key) && "line-through opacity-60"),
					]}
				>
					{value ? formatNumber(value) : "Private"}
				</td>
			))}
		</tr>
	))
}
