---
import { STAT_NAMES } from "@bandori-stats/bestdori/constants";
import {
	accountHasNickname,
	displayValue,
} from "@bandori-stats/bestdori/helpers";
import { db } from "@bandori-stats/database";
import {
	PLAYER_STATS_SORTED_SET_PREFIX,
	redis,
} from "@bandori-stats/database/redis";

import z from "zod";

const { stat, limit } = Astro.locals.parseQuery(
	z.object({
		stat: z.enum(STAT_NAMES),
		limit: z.coerce.number().min(5).max(10),
	}),
);

const topids = await (async () => {
	const key = `${PLAYER_STATS_SORTED_SET_PREFIX}:${stat}`;
	const topData = await redis.zrange<number[]>(key, 0, limit - 1, {
		rev: true,
		withScores: true,
	});

	if (topData.length < 10) return topData.filter((_, index) => index % 2 === 0);

	const lastPlaceScore = topData[limit * 2 - 1];
	return redis.zrange<number[]>(key, "+inf", lastPlaceScore, {
		rev: true,
		byScore: true,
	});
})();

const topAccounts = await (async () => {
	const accounts = await db.query.accounts.findMany({
		columns: { id: true, username: true, nickname: true, profileArt: true },
		where: { id: { in: topids } },
		with: {
			snapshots: {
				limit: 1,
				columns: { stats: true },
				orderBy: { id: "desc" },
			},
		},
	});

	return accounts
		.sort((a, b) => topids.indexOf(a.id) - topids.indexOf(b.id))
		.map(({ snapshots, ...account }) => ({
			...account,
			value: snapshots[0].stats[stat]!,
		}));
})();

let trueRank = 0;
const players = topAccounts.map((player, idx) => {
	if (idx === 0 || player.value !== topAccounts[idx - 1].value) trueRank = idx;
	return { player, trueRank };
});

const AURA_DURATION = [15_000, 12_000, 9_000];

if (players.length > 0 && Astro.cache.enabled) {
	Astro.cache.set({
		etag: `"${__GIT_HASH__}-${players.map(({ player }) => player.id).join(".")}"`,
		maxAge: 60 * 60,
	});
}
---

{
	players.map(({ player, trueRank }, idx) => (
		<div
			class:list={[
				trueRank < 3 && "aura not-last:mb-1.5",
				trueRank === 0 && "aura-holo",
				trueRank === 1 && "aura-gold",
				trueRank === 2 && "aura-silver",
			]}
			style={
				trueRank < 3 &&
				`transition-duration: ${AURA_DURATION[trueRank] + idx * 1000}`
			}
		>
			<div
				class:list={[
					"list-row items-center",
					trueRank < 3 && "bg-base-100 dark:bg-base-300",
				]}
			>
				<span
					class:list={[
						"badge min-h-8 min-w-8",
						trueRank === 0 && "badge-primary",
						trueRank === 1 && "badge-accent",
						trueRank === 2 && "badge-secondary",
						trueRank > 2 && "badge-ghost",
					]}
				>
					{trueRank + 1}
				</span>

				{player.profileArt && (
					<div class="avatar">
						<div class="size-10 rounded-box">
							<img
								src={`/static/accounts/${player.id}-icon.webp`}
								alt={player.username}
								loading="lazy"
							/>
						</div>
					</div>
				)}

				{accountHasNickname(player) ? (
					<div class="list-col-grow flex flex-col">
						<span class="truncate font-medium">{player.nickname}</span>
						<span class="text-xs text-base-content/80">@{player.username}</span>
					</div>
				) : (
					<span class="list-col-grow truncate text-lg font-medium">
						@{player.username}
					</span>
				)}

				<span class="font-mono text-sm max-sm:list-col-wrap">
					{displayValue(player.value)}
				</span>
			</div>
		</div>
	))
}
