---
import { db } from "@bandori-stats/database";
import {
	SELECT_STAT_COLUMNS,
	STAT_COLUMNS,
} from "@bandori-stats/database/constants";
import { redis } from "@bandori-stats/database/redis";
import dayjs from "dayjs";
import { titleCase } from "text-case";

import { defineRadarChart } from "~/lib/chart";
import { formatNumber } from "~/lib/math";
import { schema } from "../../_params";

export const partial = true;

const id = Number(Astro.params.id);
const date = schema.date.parse(Astro.params.date);
const account = await db.query.accounts.findFirst({
	columns: { id: true, username: true },
	with: {
		snapshots: {
			limit: 2,
			columns: { ...SELECT_STAT_COLUMNS, snapshotDate: true },
			orderBy: (t, { asc }) => asc(t.snapshotDate),
			where: (t, { gte }) => gte(t.snapshotDate, date),
		},
	},
	where: (t, { eq }) => eq(t.id, id),
});

const isNotFound = !account || account.snapshots.length === 0;
if (isNotFound) Astro.response.status = 404;

const latestLeaderboard = (
	!isNotFound && account.snapshots.length === 2
		? dayjs(account.snapshots[1].snapshotDate).subtract(1, "days")
		: dayjs()
).format("YYYY-MM-DD");

const chart = await (async () => {
	if (isNotFound) return;

	const labels = STAT_COLUMNS.map((column) =>
		titleCase(column.replace(/Count$/, "")),
	);
	const data = await Promise.all(
		STAT_COLUMNS.map(async (column) => {
			const value = account.snapshots[0][column];

			const key = `leaderboard:${latestLeaderboard}:${column}`;
			const n = await redis.zcard(key);
			const rank = value ? await redis.zcount(key, `(${value}`, "+inf") : n - 1;

			return {
				tooltip: [
					value === null ? "Private" : formatNumber(value),
					`(#${rank + 1})`,
				].join(" "),
				value: value === null ? 0 : 1 - rank / (n - 1),
			};
		}),
	);

	return defineRadarChart({
		type: "radar",
		options: {
			elements: { point: { radius: 5, hitRadius: 3 } },
			scales: { r: { min: 0, max: 1, ticks: { display: false } } },
			plugins: { tooltip: { enabled: true } },
		},
		data: {
			labels,
			datasets: [
				{
					label: `${account.username} (${date})`,
					fill: true,
					normalized: true,
					parsing: { key: "value" },
					data,
				},
			],
		},
	});
})();
---

<dialog class="modal modal-bottom sm:modal-middle">
	<div class="modal-box">
		<form method="dialog">
			<button class="btn btn-sm btn-circle btn-ghost absolute top-2 right-2">
				✕
			</button>
		</form>

		{
			isNotFound ? (
				<h3 class="text-lg font-medium">Stats not found</h3>
			) : (
				<>
					<h3 class="text-lg">
						Stats at
						{date === latestLeaderboard ? (
							date
						) : (
							<div
								class="tooltip tooltip-bottom"
								data-tip={`with ${latestLeaderboard} leaderboard`}
							>
								<span class="underline decoration-dotted">{date}</span>
							</div>
						)}
						&bullet;
						<span class="font-medium">{account.username}</span>
					</h3>

					<main hx-target="this" class="mt-4 flex flex-col gap-4">
						<div class="relative mx-auto aspect-square w-96 max-w-full">
							<canvas {...chart} class="bg-base-100" />
							<iconify-icon
								icon="svg-spinners:3-dots-rotate"
								width="none"
								class="center absolute -z-10 size-24"
							/>
						</div>
					</main>
				</>
			)
		}
	</div>

	<form method="dialog" class="contents">
		<button class="modal-backdrop">Close</button>
	</form>
</dialog>
