---
import { db } from "@bandori-stats/database";
import { STAT_COLUMNS } from "@bandori-stats/database/constants";

import { schema } from "../../_params";
import DisplayName from "./_display-name.astro";
import StatsBadge from "./_stats-badge.astro";

export const partial = true;

const id = Number(Astro.params.id);
const date = schema.date.parse(Astro.params.date);
const account = await db.query.accounts.findFirst({
	columns: { username: true, nickname: true },
	with: {
		snapshots: {
			columns: { stats: true, snapshotDate: true },
			where: { snapshotDate: { lte: date } },
		},
	},
	where: { id },
});

const isNotFound = !account || account.snapshots.length === 0;
if (isNotFound) Astro.response.status = 404;
---

<dialog class="modal modal-bottom sm:modal-middle">
	<div class="modal-box max-sm:max-h-4/5">
		<form method="dialog">
			<button class="btn btn-sm btn-circle btn-ghost absolute top-2 right-2">
				✕
			</button>
		</form>

		{
			isNotFound ? (
				<h2 class="text-center text-lg font-bold">Stats not found</h2>
			) : (
				<>
					<h2 class="text-center">
						<span class="text-lg font-bold">Stat History</span> <br />
						<DisplayName
							username={account.username}
							nickname={account.nickname}
						/>
					</h2>

					<div
						hx-target="body"
						hx-swap="beforeend"
						hx-disabled-elt=".snapshot-button"
						class="mt-4 flex flex-col-reverse gap-4"
					>
						{account.snapshots.map(({ snapshotDate, stats }, idx) => (
							<div class="flex gap-2">
								<button
									hx-get={`/leaderboard/stats/${id}_${snapshotDate}/chart`}
									class="snapshot-button btn btn-sm btn-accent"
								>
									{snapshotDate}

									<iconify-icon
										icon="lucide:chart-area"
										width="none"
										class="htmx-indicator-replace size-4"
									/>
									<iconify-icon
										icon="svg-spinners:90-ring-with-bg"
										width="none"
										class="htmx-indicator size-4"
									/>
								</button>
								<div class="flex flex-1 flex-wrap gap-1">
									{STAT_COLUMNS.map((column) => (
										<StatsBadge
											label={column}
											value={stats[column]}
											previousValue={
												idx === 0
													? null
													: account.snapshots[idx - 1]!.stats[column]
											}
										/>
									))}
								</div>
							</div>
						))}
					</div>
				</>
			)
		}
	</div>

	<form method="dialog" class="contents">
		<button class="modal-backdrop">Close</button>
	</form>
</dialog>
