---
import { db } from "@bandori-stats/database";

import type { FormatDateString } from "vanilla-calendar-pro";

import type { CalendarData } from "~/lib/calendar";
import dayjs from "~/lib/date";
import { dateSchema, idSchema } from "~/lib/schema";
import { computeStatDeltas } from "~/lib/stats";

export const partial = true;

const id = idSchema.parse(Astro.params.id);
const accountId = idSchema.parse(Astro.url.searchParams.get("account"));

const date = dayjs(dateSchema.parse(Astro.locals.query.date));
const snapshot = await db.query.accountSnapshots.findFirst({
	columns: { snapshotDate: true },
	where: { id, accountId },
});

const monthStart = date.startOf("month").format("YYYY-MM-DD");
const monthEnd = date.endOf("month").format("YYYY-MM-DD");
const [oldest, latest, snapshots, firstPreviousSnapshot] = await db.batch([
	db.query.accountSnapshots.findFirst({
		columns: { snapshotDate: true },
		orderBy: { snapshotDate: "asc" },
		where: { accountId },
	}),
	db.query.accountSnapshots.findFirst({
		columns: { snapshotDate: true },
		orderBy: { snapshotDate: "desc" },
		where: {
			accountId,
			snapshotDate: { lte: snapshot?.snapshotDate ?? monthEnd },
		},
	}),
	db.query.accountSnapshots.findMany({
		columns: { snapshotDate: true, stats: true },
		where: {
			id: { lte: id },
			accountId,
			snapshotDate: { gte: monthStart, lte: monthEnd },
		},
	}),
	db.query.accountSnapshots.findFirst({
		columns: { stats: true },
		where: {
			accountId,
			snapshotDate: { lt: monthStart },
		},
		orderBy: { snapshotDate: "desc" },
	}),
]);

const data = {
	date: date?.format("YYYY-MM-DD"),
	oldest: oldest?.snapshotDate,
	latest: latest?.snapshotDate,

	url: `/history/items/${id}/calendar`,
	params: { account: accountId },
	items: Object.fromEntries(
		snapshots.map(({ snapshotDate, stats }, idx) => [
			snapshotDate as FormatDateString,
			computeStatDeltas(
				stats,
				idx > 0 ? snapshots[idx - 1].stats : firstPreviousSnapshot?.stats,
			),
		]),
	),
} satisfies CalendarData;

export type Data = typeof data;
---

<div class="snapshot-calendar vc skeleton" data-calendar={JSON.stringify(data)}>
</div>

<script>
	import { simplifyStatName } from "@bandori-stats/bestdori/helpers";

	import { initCalendar } from "~/lib/calendar";
	import {
		STAT_BADGES,
		STAT_STATUSES,
	} from "~/pages/history/items/_stat-colors";
	import type { Data } from "./calendar.astro";

	initCalendar<Data>({
		selector: ".vc.snapshot-calendar",

		renderDateCell: ({ it: deltas, button }) => {
			button.innerHTML += [
				'<div class="inline-flex gap-0.5">',
				...new Set(
					deltas.map(
						([name]) =>
							`<div aria-label="success" class="status status-sm ${STAT_STATUSES[name]}"></div>`,
					),
				),
				"</div>",
			].join("");
		},

		popups: ({ it: deltas }) =>
			[
				'<div class="flex w-max max-w-32 min-w-full flex-wrap justify-center gap-x-1 gap-y-0.5 py-2 font-medium">',
				...deltas.map(
					([name, delta]) =>
						`<span class="badge badge-soft badge-xs ${STAT_BADGES[name]}">${simplifyStatName(name)} ${delta}</span>`,
				),
				"</div>",
			].join(""),
	});
</script>
