---
import { db } from "@bandori-stats/database";
import { STAT_COLUMNS } from "@bandori-stats/database/constants";
import { accountLeaderboard } from "@bandori-stats/database/schema";
import { titleCase } from "text-case";
import { z } from "zod";

import BaseLayout from "~/layouts/base-layout.astro";
import { sum } from "~/lib/math";

const params = Astro.url.searchParams;

const pageSize = 50;
const page = z.coerce.number().positive().catch(1).parse(params.get("page"));
const offset = (page - 1) * pageSize;

const rankBy = z
	.array(z.enum(STAT_COLUMNS))
	.nonempty()
	.catch(() => [...STAT_COLUMNS])
	.parse(params.getAll("by"));

const rows = await db
	.select()
	.from(accountLeaderboard)
	.then((entries) =>
		entries
			.map(({ acccountId, username, ...rest }) => ({
				acccountId,
				username,
				stats: Object.fromEntries(
					STAT_COLUMNS.map((column) => [column, rest[column]]),
				),
				scores: sum(
					STAT_COLUMNS.filter((column) => rankBy.includes(column)).map(
						(column) => rest[`score_${column}`],
					),
				),
			}))
			.sort((a, b) => b.scores - a.scores),
	);

const pageRows = rows
	.slice(offset, offset + pageSize)
	.map((it, idx) => ({ ...it, top: offset + idx + 1 }));

const nextPageHtmxProps = () => {
	const nextPageUrl = new URL(Astro.url);
	nextPageUrl.searchParams.set("page", (page + 1).toString());

	return {
		"hx-get": nextPageUrl.href,
		"hx-select": "tbody > tr",
		"hx-swap": "afterend",
		"hx-trigger": "intersect once",
	};
};
---

<BaseLayout>
	<div class="absolute inset-0 overflow-x-auto">
		<table class="table-xs table">
			<thead>
				<tr hx-disabled-elt="input">
					<th></th>
					<th>Rank by</th>

					{
						STAT_COLUMNS.map((column) => (
							<td>
								<input
									type="checkbox"
									class="btn checked:btn-accent not-checked:btn-outline btn-xs border"
									name="by"
									value={column}
									checked={rankBy.includes(column)}
									aria-label={titleCase(column)}
									hx-get
									hx-include="closest tr"
									hx-target="tbody"
									hx-select="tbody"
									hx-swap="outerHTML"
									hx-trigger="change delay:500ms"
								/>
							</td>
						))
					}
				</tr>
				<tr class="bg-base-100 sticky top-0 z-10">
					<th></th>
					<th>Username</th>

					{STAT_COLUMNS.map((column) => <th>{titleCase(column)}</th>)}
				</tr>
			</thead>

			<tbody>
				{
					pageRows.map(({ username, stats, top }, idx) => (
						<tr {...(idx === pageSize - 1 ? nextPageHtmxProps() : {})}>
							<th>#{top.toString().padStart(3, "0")}</th>

							<th class="bg-base-100/20 sticky left-0 pl-0 shadow-sm">
								<p class="w-36 overflow-clip text-ellipsis">
									<span class="bg-base-100 px-4">{username}</span>
								</p>
							</th>

							{Object.values(stats).map((value) => (
								<td>{value ?? <b class="text-base-content/40">Private</b>}</td>
							))}
						</tr>
					))
				}
			</tbody>
		</table>
	</div>
</BaseLayout>
