---
import { STAT_NAMES } from "@bandori-stats/bestdori/constants";
import { db } from "@bandori-stats/database";
import { ComparisonChart, getGlobalMaxes } from "@bandori-stats/database/chart";

import BaseLayout from "~/layouts/base-layout.astro";
import { defineChart } from "~/lib/chart";
import { dateSchema, idSchema } from "~/lib/schema";
import SearchDropdown from "./_search-dropdown.astro";
import StatsRow from "./_stats-row.astro";

const referenceId = idSchema.optional().parse(Astro.locals.query.reference);
const comparedId = idSchema.optional().parse(Astro.locals.query.compared);
const compareDate = dateSchema.parse(Astro.locals.query.date);

const { accounts, comparison, dateRange } = await (async () => {
	const [referenceAccount, comparedAccount] = await Promise.all(
		[referenceId, comparedId].map((id) => {
			if (!id) return null;
			return db.query.accounts.findFirst({
				columns: { id: true, username: true },
				where: { id },
			});
		}),
	);

	const accounts = {
		reference: referenceAccount,
		compared: comparedAccount,
	};

	if (!referenceAccount || !comparedAccount) {
		return { accounts, comparison: null, dateRange: null };
	}

	const oldest = await Promise.all(
		[referenceAccount, comparedAccount].map((account) =>
			db.query.accountSnapshots.findFirst({
				columns: { snapshotDate: true },
				where: { accountId: account.id },
				orderBy: { snapshotDate: "asc" },
			}),
		),
	).then(
		(oldestSnapshots) =>
			oldestSnapshots.sort((a, b) =>
				b!.snapshotDate.localeCompare(a!.snapshotDate),
			)[0],
	);

	const latest = await db.query.accountSnapshots.findFirst({
		columns: { snapshotDate: true },
		where: { accountId: { in: [referenceAccount.id, comparedAccount.id] } },
		orderBy: { snapshotDate: "desc" },
	});

	const dateRange = {
		min: oldest?.snapshotDate ?? "",
		max: latest?.snapshotDate ?? "",
		selected: compareDate,
	};

	const [referenceSnapshot, comparedSnapshot] = await Promise.all(
		[referenceAccount, comparedAccount].map((account) =>
			db.query.accountSnapshots.findFirst({
				where: {
					accountId: account.id,
					snapshotDate: { lte: dateRange.selected },
				},
				orderBy: { snapshotDate: "desc" },
			}),
		),
	);

	if (!referenceSnapshot || !comparedSnapshot) {
		return { accounts, comparison: null, dateRange };
	}

	const maxStats = await getGlobalMaxes();
	const chart = defineChart(
		ComparisonChart(
			{ ...referenceAccount, snapshot: referenceSnapshot },
			{ ...comparedAccount, snapshot: comparedSnapshot },
			maxStats,
		),
	);

	return {
		accounts,
		dateRange,
		comparison: {
			chart,
			snapshotReference: referenceSnapshot,
			snapshotCompared: comparedSnapshot,
		},
	};
})();
---

<BaseLayout title="Compare Accounts">
	<div class="absolute inset-0 overflow-x-auto">
		<div class="breadcrumbs sticky left-0 z-20 px-4 sm:px-8">
			<ul class="justify-center">
				<li><a href="/">bandori-stats</a></li>
				<li>compare</li>
			</ul>
		</div>

		<div class="mx-auto flex max-w-5xl flex-col gap-8 p-4 sm:px-8">
			<form class="grid gap-4 md:grid-cols-3" id="compare-form">
				<SearchDropdown
					value={accounts.reference?.username}
					label="Reference"
					other-id={accounts.compared?.id}
					side="reference"
				/>

				<SearchDropdown
					value={accounts.compared?.username}
					label="Compared-to"
					other-id={accounts.reference?.id}
					side="compared"
				/>

				{
					dateRange && (
						<label class="input">
							<span class="label">Snapshot Date</span>
							<input
								hx-get="/compare"
								hx-trigger="change"
								name="date"
								type="date"
								value={dateRange.selected}
								hx-replace-url="true"
								hx-select="#compare-results"
								hx-swap="outerHTML"
								hx-target="#compare-results"
								hx-vals={JSON.stringify({
									reference: referenceId,
									compared: comparedId,
								})}
								max={dateRange.max}
								min={dateRange.min}
							/>
						</label>
					)
				}
			</form>

			<div class="card bg-base-200" id="compare-results">
				<div class="card-body items-center gap-4 text-center">
					{
						comparison ? (
							<>
								<div class="flex flex-col items-center gap-1">
									<h2 class="card-title text-2xl">Stat Comparison</h2>
									<div class="text-base-content/60 text-sm">
										As of {compareDate}
									</div>
								</div>

								<div class="rounded-box border-base-content/5 bg-base-100 relative aspect-square w-full max-w-4xl border px-4 py-4 sm:aspect-video md:aspect-2/1 md:px-8">
									<canvas {...comparison.chart} />
								</div>

								<div class="rounded-box border-base-content/5 bg-base-100 w-full overflow-x-auto border">
									<table class="table text-center">
										<thead>
											<tr>
												<th class="min-w-40">Stat</th>
												<th>@{accounts.reference!.username}</th>
												<th>@{accounts.compared!.username}</th>
												<th>Difference</th>
											</tr>
										</thead>
										<tbody>
											{STAT_NAMES.map((name) => (
												<StatsRow
													{name}
													comparedValue={
														comparison.snapshotCompared.stats[name]
													}
													referenceValue={
														comparison.snapshotReference.stats[name]
													}
												/>
											))}
										</tbody>
									</table>
								</div>
							</>
						) : (
							<div class="text-base-content/60 flex flex-col items-center justify-center py-16">
								<h2 class="text-xl font-semibold">No comparison yet</h2>
								<p class="text-sm">
									Select two accounts to see their stats side-by-side.
								</p>
							</div>
						)
					}
				</div>
			</div>
		</div>
	</div>
</BaseLayout>
