---
import {
	compareValue,
	displayValue,
	formatNumber,
	getValue,
	titleCase,
	type StatValue,
} from "@bandori-stats/bestdori/helpers";
import type { Snapshot } from "@bandori-stats/database/schema";

import type z from "zod";

import IconLoader from "~/components/icon-loader.astro";
import Icon from "~/components/icon.astro";
import type { ratioSchema } from "~/lib/schema";

interface Props {
	name: keyof Snapshot["stats"];
	ratio: z.infer<typeof ratioSchema>;
	left: StatValue;
	"left-id"?: number;
	"left-ratio-reference"?: StatValue;
	right: StatValue;
	"right-id"?: number;
	"right-ratio-reference"?: StatValue;
}

const { name, ratio, "left-id": leftId, "right-id": rightId } = Astro.props;

const compute = (valueRaw: StatValue, reference: StatValue) => {
	let value = getValue(valueRaw ?? 0);
	const referenceValue = getValue(reference ?? 0);

	const isRatio = referenceValue > 0;
	if (isRatio) value *= 100 / referenceValue;

	let display = value
		? formatNumber(value, { autoCompact: true })
		: displayValue(valueRaw);
	if (isRatio) display += "%";

	return { value, display, isRatio };
};

const left = compute(Astro.props.left, Astro.props["left-ratio-reference"]);
const right = compute(Astro.props.right, Astro.props["right-ratio-reference"]);
const isRatio = left.isRatio || right.isRatio;

const delta = compareValue(left.value || null, right.value || null);
let deltaDisplay = (isRatio ? Math.abs(delta) >= 0.01 : Math.abs(delta) > 0)
	? formatNumber(Math.abs(delta), { autoCompact: true, positiveSign: true })
	: "N/A";
if (delta && isRatio) deltaDisplay += "%";

const total = left.value + right.value;
const leftPercent = total === 0 ? 50 : (left.value / total) * 100;
const rightPercent = 100 - leftPercent;

const ratioAvailable = name === "fullComboCount" || name === "allPerfectCount";
const ratioTooltip = {
	fullComboCount: "Show FC / Clear ratio",
	allPerfectCount: "Show AP / Clear ratio",
};

const id = `comparison-${name}`;
---

<div class="card bg-base-100 shadow-sm card-border dark:bg-base-200" {id}>
	<div class="card-body gap-2 p-4">
		<div
			class="inline-flex items-center justify-center gap-2 text-sm font-medium text-base-content/67"
		>
			{titleCase(isRatio ? name.replace("Count", "Ratio") : name)}

			{
				ratioAvailable && (
					<button
						hx-get="/vs"
						data-tip={ratioTooltip[name]}
						hx-disabled-elt={`#${id} button`}
						hx-indicator="this"
						hx-replace-url="true"
						hx-select-oob={`#${id}, #actions, #players`}
						hx-swap="none transition:true"
						hx-vals={JSON.stringify({
							"player-1": leftId,
							"player-2": rightId,
							ratio: ratio.includes(name)
								? ratio.filter((it) => it !== name)
								: [...ratio, name],
						})}
						class:list={[
							"tooltip btn btn-circle tooltip-info btn-xs",
							ratio.includes(name) ? "btn-info" : "btn-outline hover:btn-info",
						]}
					>
						<IconLoader class="size-3.5" name="lucide:percent" />
					</button>
				)
			}
		</div>

		<div class="flex items-center justify-between">
			<div
				class="flex-1 text-xl font-bold text-primary"
				style={`view-transition-name: stat-compare-${name}-${leftId ?? "left"}`}
			>
				{left.display}
			</div>

			<div
				class:list={[
					"badge w-max font-bold",
					delta > 0 && "badge-primary",
					delta < 0 && "flex-row-reverse badge-accent",
					delta === 0 && "badge-neutral",
				]}
			>
				<Icon
					class="size-5"
					name={delta === 0
						? "lucide:minus"
						: delta > 0
							? "lucide:arrow-right"
							: "lucide:arrow-left"}
					style={`view-transition-name: stat-compare-${name}-delta`}
				/>

				<span class="min-w-8">{deltaDisplay}</span>
			</div>

			<div
				class="flex-1 text-end text-xl font-bold text-accent"
				style={`view-transition-name: stat-compare-${name}-${rightId ?? "right"}`}
			>
				{right.display}
			</div>
		</div>

		<div class="mt-1 flex h-1.5 w-full overflow-hidden rounded-full opacity-80">
			{
				delta === 0 ? (
					<div class="w-full bg-neutral" />
				) : (
					<>
						<div
							class="bg-primary"
							style={`width: ${leftPercent}%; view-transition-name: stat-bar-${name}-${leftId ?? "left"}`}
						/>
						<div
							class="bg-accent"
							style={`width: ${rightPercent}%; view-transition-name: stat-bar-${name}-${rightId ?? "right"}`}
						/>
					</>
				)
			}
		</div>
	</div>
</div>
