---
import { STAT_NAMES, type StatName } from "@bandori-stats/bestdori/constants";
import dayjs from "@bandori-stats/bestdori/date";
import { db } from "@bandori-stats/database";

import z from "zod";

import IconLoader from "~/components/icon-loader.astro";
import Icon from "~/components/icon.astro";
import BaseLayout from "~/layouts/base-layout.astro";
import { IdSchema, RatioSchema } from "~/lib/schema";
import PlayerCard from "./_player-card.astro";
import StatCompareCard from "./_stat-compare-card.astro";

const {
	"player-1": player1_id,
	"player-2": player2_id,
	ratio,
	date,
} = Astro.locals.parseQuery(
	z.object({
		"player-1": IdSchema.optional(),
		"player-2": IdSchema.optional(),
		date: z.iso.date().optional(),
		ratio: RatioSchema,
	}),
);

const useRatio = (name: StatName) =>
	((name === "fullComboCount" || name === "allPerfectCount") &&
		ratio.includes(name)) ||
	null;

const [player1, player2] = await Promise.all(
	[player1_id, player2_id].map((id) => {
		if (!id) return;
		return db.query.accounts.findFirst({
			columns: { id: true, username: true, nickname: true, profileArt: true },
			where: { id },
			with: {
				snapshots: {
					limit: 1,
					columns: { snapshotDate: true, stats: true },
					where: date ? { snapshotDate: { lte: date } } : {},
					orderBy: { snapshotDate: "desc" },
				},
			},
		});
	}),
);

if ((player1 || player2) && Astro.cache.enabled) {
	Astro.cache.set({
		etag: `"${__GIT_HASH__}"`,
		maxAge:
			date && dayjs.tz(date).isBefore(dayjs.tz(), "day")
				? 60 * 60 * 24 * 365
				: 60 * 60,
	});
}
---

<BaseLayout title="VS Accounts" containerClass="max-w-3xl">
	<div
		class="flex w-full flex-col border-b border-base-content/67 py-4 pb-6 sm:flex-row sm:pb-4"
		id="players"
		hx-include:inherited="#vs-settings input"
	>
		<PlayerCard other={player2?.id} player={player1} side="player-1" />

		<div
			class="divider my-4 text-sm font-black text-base-content/67 sm:my-0 sm:divider-horizontal sm:px-4"
		>
			VS
		</div>

		<PlayerCard other={player1?.id} player={player2} side="player-2" />
	</div>

	<div class="grid grid-cols-1 gap-4 py-4 md:grid-cols-2" id="comparison">
		{
			STAT_NAMES.map((name) => (
				<StatCompareCard
					{name}
					left={player1?.snapshots[0].stats[name]}
					left-id={player1?.id}
					left-ratio-reference={
						useRatio(name) && player1?.snapshots[0].stats.clearCount
					}
					right={player2?.snapshots[0].stats[name]}
					right-id={player2?.id}
					right-ratio-reference={
						useRatio(name) && player2?.snapshots[0].stats.clearCount
					}
				/>
			))
		}
	</div>

	<div
		class="flex w-full justify-between gap-2 border-t border-base-content/67 py-4 max-sm:flex-col"
		id="actions"
	>
		<div class="join" style="anchor-name: --anchor-vs-player-action">
			<button
				class="btn join-item flex-1 btn-primary"
				disabled={!player1 || !player2}
				popovertarget="vs-date"
			>
				<IconLoader name="lucide:calendar" />
				<span>{date ?? "Date"}</span>
			</button>
			<div
				class="dropdown dropdown-center dropdown-top mb-2 overflow-visible rounded-box border border-primary/20 bg-base-100 p-2 shadow-md"
				id="vs-date"
				popover
				style="position-anchor: --anchor-vs-player-action"
			>
				<div
					class="relative flex min-h-70 min-w-75 justify-center"
					hx-indicator:inherited="#vs-date-loader"
				>
					<div
						hx-get="/vs/calendar"
						hx-swap="outerHTML"
						hx-target="this"
						hx-trigger="intersect once"
						hx-vals={JSON.stringify({
							date,
							"player-1": player1?.id,
							"player-2": player2?.id,
							ratio,
						})}
					>
					</div>
					<div
						class="htmx-indicator absolute inset-0 bg-base-100/67"
						id="vs-date-loader"
					>
						<Icon
							class="center absolute size-32"
							name="svg-spinners:bars-scale"
						/>
					</div>
				</div>
			</div>

			<button
				class="btn join-item flex-1 btn-secondary"
				popovertarget="vs-settings"
				style="anchor-name: --anchor-vs-player-actions"
			>
				<Icon name="lucide:settings" />
				Settings
			</button>
			<div
				class="dropdown dropdown-center dropdown-top mb-2 rounded-box border border-primary/20 bg-base-100 p-2 shadow-md"
				id="vs-settings"
				popover
				style="position-anchor: --anchor-vs-player-actions"
			>
				<fieldset
					hx-select:inherited="main"
					hx-swap:inherited="outerMorph transition:true"
					hx-target:inherited="main"
					class="fieldset w-64 rounded-box border bg-base-100 p-4 pt-3 shadow-sm dark:bg-base-300"
					id="vs-settings-ratio"
					hx-disable:inherited="#vs-settings fieldset"
					hx-include:inherited="#vs-settings input"
					hx-indicator:inherited="#vs-settings-ratio .fieldset-legend"
					hx-replace-url:inherited="true"
					hx-vals:inherited={JSON.stringify({
						"player-1": player1?.id,
						"player-2": player2?.id,
						date,
					})}
				>
					<legend class="fieldset-legend py-0">
						<IconLoader name="lucide:percent" />
						Show Ratio
					</legend>
					<div class="flex flex-wrap gap-4 text-sm">
						<label class="label">
							<input
								hx-get="/vs"
								class="checkbox checkbox-sm"
								name="ratio"
								type="checkbox"
								value="fullComboCount"
								checked={ratio.includes("fullComboCount")}
							/>
							Full Combo
						</label>
						<label class="label">
							<input
								hx-get="/vs"
								class="checkbox checkbox-sm"
								name="ratio"
								type="checkbox"
								value="allPerfectCount"
								checked={ratio.includes("allPerfectCount")}
							/>
							All Perfect
						</label>
					</div>
					<p class="label mt-1 text-wrap">
						Display as a percentage of total clears instead of raw numbers.
					</p>
				</fieldset>
			</div>

			<button
				hx-get="/vs"
				hx-select="main"
				hx-swap="outerMorph transition:true"
				hx-target="main"
				class="btn join-item flex-1 btn-primary"
				hx-disable="#actions button"
				hx-indicator="this"
				hx-replace-url="true"
				hx-vals={JSON.stringify({
					"player-1": player2?.id,
					"player-2": player1?.id,
					ratio,
				})}
				disabled={!player1 && !player2}
			>
				<IconLoader name="lucide:arrow-left-right" />
				Swap
			</button>
		</div>

		<div class="join">
			<button
				class="btn join-item flex-1 btn-soft btn-accent"
				id="download-vs"
				data-player-1={player1?.username}
				data-player-2={player2?.username}
				disabled={!player1 || !player2}
			>
				<IconLoader name="lucide:arrow-down-to-line" />
				Download
			</button>
			<button
				class="tooltip-open btn join-item flex-1 btn-accent"
				id="share-vs"
				data-player-1={player1?.username}
				data-player-2={player2?.username}
				disabled={!player1 || !player2}
			>
				<IconLoader name="lucide:share-2" />
				Share
			</button>
		</div>
	</div>
</BaseLayout>

<script>
	window.htmx.onLoad((node) => {
		if (!(node instanceof HTMLElement)) return;

		const actions = node.matches("#actions")
			? node
			: node.querySelector("#actions");
		if (!(actions instanceof HTMLElement)) return;

		actions.addEventListener("click", async (event) => {
			if (!(event.target instanceof HTMLButtonElement)) return;

			const button = event.target;
			const { "player-1": player1, "player-2": player2 } = button.dataset;
			if (!player1 || !player2) return;

			let handler: typeof download | typeof share;
			if (button.id === "download-vs") handler = download;
			else if (button.id === "share-vs") handler = share;
			else return;

			try {
				button.disabled = true;
				button.classList.toggle("htmx-request", true);
				await handler(button, player1, player2);
			} finally {
				button.disabled = false;
				button.classList.toggle("htmx-request", false);
			}
		});
	});

	const download = async (
		_button: HTMLButtonElement,
		player1: string,
		player2: string,
	) => {
		try {
			const blob = await capture();

			const url = window.URL.createObjectURL(blob);
			const a = document.createElement("a");
			a.href = url;
			a.download = `${player1}-vs-${player2}.png`;
			a.click();
			a.remove();
			window.URL.revokeObjectURL(url);
		} catch (error) {
			console.error("Error downloading vs result", { error });
			throw error;
		}
	};

	let shareData: ShareData | undefined = undefined;
	const share = async (
		button: HTMLButtonElement,
		player1: string,
		player2: string,
	) => {
		try {
			if (!shareData) {
				button.classList.toggle("tooltip", true);
				button.dataset.tip = "Capturing...";
				const blob = await capture();
				const filename = `${player1}-vs-${player2}.png`;
				shareData = {
					files: [new File([blob], filename, { type: blob.type })],
					url: document.URL,
				};

				if ("share" in navigator && navigator.canShare(shareData)) {
					button.dataset.tip = "Captured! click to share.";
				} else {
					await navigator.clipboard.write([
						new ClipboardItem({ [blob.type]: blob }),
					]);
					button.dataset.tip = "Copied.";
					setTimeout(() => button.classList.toggle("tooltip", false), 3000);
					shareData = undefined;
				}

				return;
			}

			await navigator.share(shareData).finally(() => {
				shareData = undefined;
				button.classList.toggle("tooltip", false);
			});
		} catch (error) {
			console.error("Error sharing vs result", { error });
			throw error;
		}
	};

	const capture = async () => {
		const { snapdom } = await import("@zumer/snapdom");

		const { backgroundColor } = window.getComputedStyle(
			document.documentElement,
		);
		return snapdom.toBlob(document.querySelector("main")!, {
			backgroundColor,
			outerShadows: true,

			scale: 1.67,
			compress: true,
			type: "png",

			exclude: ["#actions", ".breadcrumbs", "[hx-get]"],
			excludeMode: "remove",
		});
	};
</script>
