---
import { UMAMI_SITE_ID } from "astro:env/server";

import "~/styles/global.css";

interface Props {
	title: string;
	containerClass?: string;
}

const { title, containerClass } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />

		<link type="image/png" href="/favicon-96x96.png" rel="icon" sizes="96x96" />
		<link type="image/svg+xml" href="/favicon.svg" rel="icon" />
		<link href="/favicon.ico" rel="shortcut icon" />
		<link href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180" />
		<meta name="apple-mobile-web-app-title" content="bandori-stats" />
		<link href="/site.webmanifest" rel="manifest" />

		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>bandori-stats &bullet; {title}</title>

		{
			import.meta.env.PROD && UMAMI_SITE_ID && (
				<script
					data-website-id={UMAMI_SITE_ID}
					src="https://cloud.umami.is/script.js"
					defer
					is:inline
				/>
			)
		}
	</head>
	<body>
		<main
			hx-indicator="#app-loader"
			class:list={["container mx-auto", containerClass]}
		>
			{
				Astro.url.pathname !== "/" && (
					<div class="breadcrumbs mt-2 text-sm">
						<ul class="justify-center">
							<li>
								<a href="/">bandori-stats</a>
							</li>
							{Astro.url.pathname
								.split("/")
								.filter(Boolean)
								.map((path, idx, parts) => (
									<li>
										{idx === parts.length - 1 ? (
											path
										) : (
											<a
												href={
													idx > 0
														? `/${parts.slice(0, idx + 1).join("/")}`
														: `/${path}`
												}
											>
												{path}
											</a>
										)}
									</li>
								))}
						</ul>
					</div>
				)
			}

			<slot />
		</main>

		<div
			class="htmx-indicator fixed inset-0 z-20 bg-base-100/50"
			id="app-loader"
		>
			<iconify-icon
				class="center absolute size-24"
				icon="svg-spinners:bars-scale-fade"
				width="none"></iconify-icon>
		</div>
	</body>
</html>

<script>
	import htmx from "htmx.org";

	window.htmx = htmx;

	htmx.onLoad((node) => {
		if (!(node instanceof HTMLElement)) return;

		if (
			node instanceof HTMLImageElement &&
			node.classList.contains("skeleton") &&
			node.classList.contains("border")
		) {
			const image = node;
			const done = () => image.classList.remove("skeleton", "border");
			if (image.complete) done();
			else image.addEventListener("load", done, { once: true });
		}
	});
</script>
<script src="iconify-icon"></script>
