---
import { STAT_NAMES } from "@bandori-stats/bestdori/constants";
import {
	compareValue,
	displayValue,
	formatNumber,
} from "@bandori-stats/bestdori/helpers";
import { db } from "@bandori-stats/database";
import { StatsSparklineChart } from "@bandori-stats/database/chart";

import { titleCase } from "text-case";
import z from "zod";

import { defineChart } from "~/lib/chart";
import dayjs from "~/lib/date";
import DisplayName from "./_display-name.astro";
import { params } from "./_params";

export const partial = true;

const PERIODS = ["30d", "90d", "all"] as const;
let period = z.enum(PERIODS).catch("30d").parse(Astro.locals.query.period);

const { date, id } = params.parse(Astro.params);
const { account, from, to } = await (async () => {
	let days: number | undefined;
	if (period === "30d") days = 30;
	else if (period === "90d") days = 90;
	else days = undefined;

	let to: string | undefined;
	while (true) {
		to =
			days === undefined
				? undefined
				: dayjs().subtract(days, "days").format("YYYY-MM-DD");
		const account = await db.query.accounts.findFirst({
			columns: { username: true, nickname: true },
			where: { id },
			with: {
				snapshots: {
					columns: { stats: true, snapshotDate: true },
					orderBy: { snapshotDate: "asc" },
					where: { snapshotDate: { gte: to, lte: date } },
				},
			},
		});

		if (!account || account.snapshots.length === 0) return {};

		if (account.snapshots.length > 2) {
			const from = account.snapshots.at(-1)!.snapshotDate;
			to = account.snapshots[0].snapshotDate;

			return { account, from, to };
		}

		if (days === 30) {
			days = 90;
			period = "90d";
			continue;
		} else if (days === 90) {
			days = undefined;
			period = "all";
			continue;
		}

		return {};
	}
})();

if (!account) Astro.response.status = 404;

const { availablePeriods, stats } = (() => {
	if (!account) return {};

	let snapshots30d = 0;
	let snapshots90d = 0;
	for (const { snapshotDate } of account.snapshots) {
		const days = dayjs().diff(snapshotDate, "days");

		if (days <= 30) snapshots30d += 1;
		if (days <= 90) snapshots90d += 1;
	}

	return {
		availablePeriods: {
			"30d": snapshots30d > 2,
			"90d": snapshots90d > 2,
			all: true,
		},
		stats: STAT_NAMES.map((name) => ({
			label: titleCase(name),
			values: account.snapshots
				.map(
					({ stats, snapshotDate }) =>
						[snapshotDate, stats[name]] as [string, number],
				)
				.filter(([, value]) => value !== null),
		}))
			.filter(({ values }) => values.length > 0)
			.map(({ label, values }) => {
				const first = values[0][1];
				const last = values.at(-1)![1];
				const delta = compareValue(last, first);

				return {
					label,
					first,
					last,
					delta,
					chart: defineChart(StatsSparklineChart(values, period)),
				};
			}),
	};
})();
---

<dialog class="modal" hx-target="this">
	<div class="modal-box w-full max-w-full md:max-w-4xl">
		<form method="dialog">
			<button class="btn btn-sm btn-circle btn-ghost absolute top-2 right-2">
				✕
			</button>
		</form>

		{
			!account || !stats ? (
				<h3 class="text-center text-lg font-bold">Stats not found</h3>
			) : (
				<div
					class="relative flex flex-col gap-4"
					hx-disabled-elt="#time-period button"
					hx-indicator="#chart-loader"
					hx-select-oob="#time-period, #chart"
					hx-swap="none transition:true"
					hx-vals={JSON.stringify({ id })}
				>
					<h2 class="text-center">
						<span class="text-lg font-bold">Growth chart</span> <br />
						<DisplayName
							nickname={account.nickname}
							username={account.username}
						/>
					</h2>

					<div
						class="bg-base-100/80 rounded-box sticky top-0 z-10 mx-auto flex w-48 flex-col items-center gap-1 py-2 shadow-sm"
						id="time-period"
					>
						<div class="join self-center">
							{PERIODS.map((it) => (
								<button
									hx-get={`/history/for/${id}/on/${date}/chart`}
									hx-vals={JSON.stringify({ period: it })}
									class:list={[
										"btn btn-xs sm:btn-sm join-item",
										period === it && "btn-active",
									]}
									disabled={!availablePeriods![it]}
								>
									{it.toUpperCase()}
								</button>
							))}
						</div>

						<p class="text-base-content/60 text-xs sm:text-sm">
							{to} &mdash; {from}
						</p>
					</div>

					<div class="grid gap-2 sm:grid-cols-2" id="chart">
						{stats.map((stat) => (
							<div class="stat bg-base-200 rounded-box">
								<div class="stat-title">{stat.label}</div>

								<div class="stat-value">
									{stat.delta > 0
										? formatNumber(stat.delta, {
												autoCompact: true,
												positiveSign: true,
											})
										: "N/A"}
								</div>

								<div class="stat-desc">
									{stat.first !== stat.last
										? `${displayValue(stat.first)} -> ${displayValue(stat.last)}`
										: displayValue(stat.first)}
								</div>

								{stat.chart && (
									<div class="chart relative mt-2 aspect-3/1 w-full">
										<canvas
											{...stat.chart}
											class="bg-base-100 absolute inset-0"
										/>
									</div>
								)}
							</div>
						))}
					</div>
				</div>
			)
		}
	</div>

	<div
		class="htmx-indicator bg-base-100/50 fixed inset-0 z-20"
		id="chart-loader"
	>
		<iconify-icon
			class="center absolute size-24"
			icon="svg-spinners:bars-scale-fade"
			width="none"></iconify-icon>
	</div>

	<form class="contents" method="dialog">
		<button class="modal-backdrop">Close</button>
	</form>
</dialog>
