---
import { STAT_NAMES } from "@bandori-stats/bestdori/constants";
import { db } from "@bandori-stats/database";
import { redis } from "@bandori-stats/database/redis";
import { titleCase } from "text-case";

import { defineRadarChart } from "~/lib/chart";
import dayjs from "~/lib/date";
import { displayValue } from "~/lib/math";
import { dateSchema } from "~/lib/schema";
import DisplayName from "./_display-name.astro";

export const partial = true;

const id = Number(Astro.params.id);
const date = dateSchema.parse(Astro.locals.query.date);
const account = await db.query.accounts.findFirst({
	columns: { id: true, username: true, nickname: true },
	with: {
		snapshots: {
			limit: 2,
			columns: { stats: true, snapshotDate: true },
			where: { snapshotDate: { gte: date } },
			orderBy: { snapshotDate: "asc" },
		},
	},
	where: { id },
});

const isNotFound = !account || account.snapshots.length === 0;
if (isNotFound) Astro.response.status = 404;

const latestLeaderboard = (
	!isNotFound && account.snapshots.length === 2
		? dayjs(account.snapshots[1].snapshotDate).subtract(1, "days")
		: dayjs.utc()
).format("YYYY-MM-DD");

const chart = await (async () => {
	if (isNotFound) return;

	const labels = STAT_NAMES.map((name) =>
		titleCase(name.replace(/Count$/, "")),
	);
	const data = await Promise.all(
		STAT_NAMES.map(async (name) => {
			const value = account.snapshots[0].stats[name];

			const key = `leaderboard:${latestLeaderboard}:${name}`;
			const n = await redis.zcard(key);
			const rank = value ? await redis.zcount(key, `(${value}`, "+inf") : n - 1;

			return {
				tooltip: [displayValue(value), `(#${rank + 1})`].join(" "),
				value: value === null ? 0 : 1 - rank / (n - 1),
			};
		}),
	);

	return defineRadarChart({
		type: "radar",
		options: {
			elements: { point: { radius: 5, hitRadius: 3 } },
			scales: { r: { min: 0, max: 1, ticks: { display: false } } },
			plugins: { tooltip: { enabled: true } },
		},
		data: {
			labels,
			datasets: [
				{
					label: `${account.username} (${date})`,
					fill: true,
					normalized: true,
					parsing: { key: "value" },
					data,
				},
			],
		},
	});
})();
---

<dialog class="modal modal-bottom sm:modal-middle">
	<div class="modal-box">
		<form method="dialog">
			<button class="btn btn-sm btn-circle btn-ghost absolute top-2 right-2">
				✕
			</button>
		</form>

		{
			isNotFound ? (
				<h3 class="text-center text-lg font-bold">Stats not found</h3>
			) : (
				<>
					<h3 class="text-center">
						<span class="text-lg leading-0">
							Stats on {latestLeaderboard} <br /> with {date} snapshot
						</span>
						<br />
						<DisplayName
							username={account.username}
							nickname={account.nickname}
						/>
					</h3>

					<main hx-target="this" class="mt-4 flex flex-col gap-4">
						<div class="relative mx-auto aspect-square w-96 max-w-full">
							<canvas {...chart} class="bg-base-100" />
							<iconify-icon
								icon="svg-spinners:3-dots-rotate"
								width="none"
								class="center absolute -z-10 size-24"
							/>
						</div>
					</main>
				</>
			)
		}
	</div>

	<form method="dialog" class="contents">
		<button class="modal-backdrop">Close</button>
	</form>
</dialog>
